<!doctype html>
<html th:replace="~{base :: layout (~{::title}, ~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Projeto</title>
   </head>
  <body>
    <main class="container">
      <h2>
        <span th:unless="${todo.id}">Nova</span>
        <span th:if="${todo.id}">Editar</span>
        Tarefa
      </h2>
      <form method="POST" th:object="${todo}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
          <label for="title" class="form-label">Tíulo</label>
          <input type="text" class="form-control" id="title" th:field="*{title}" required>
          <ul>
            <li th:each="error : ${#fields.errors('title')}" th:text="${error}" class="text-danger"> </li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="deadline" class="form-label">Data de entrega</label>
          <input type="date" class="form-control" id="deadline" th:field="*{deadLine}" required>
          <ul>
            <li th:each="error : ${#fields.errors('deadLine')}" th:text="${error}" class="text-danger"> </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </main>
  </body>
</html>